@model IEnumerable<Library.Models.Viewmodel.ShelfWithBook>

@{
    ViewData["Title"] = "Select";
}

<h1>The dimensions of the book do not fit the shelf, please choose another shelf</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary()
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Shelves.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Shelves.First().Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Shelves.First().Width)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var shelfWithBook in Model)
        {
            foreach (var shelf in shelfWithBook.Shelves)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => shelf.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => shelf.Height)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => shelf.Width)
                    </td>

                    <td>
                        @Html.ActionLink("Add", "Add", new { bookId = shelfWithBook.Book.Id, shelfId = shelf.Id })
                    </td>

                </tr>
            }
        }
    </tbody>
</table>